{
  "branches": [
    "main",
    {
      "name": "release/+([0-9])?(.{+([0-9]),x}).x",
      "range": "${name.replace(/^release\\//g, '')}"
    },
    "sr-pr"
  ],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/changelog",
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "eslint",
        "parserOpts": {
          "headerPattern": "^Pull request #\\d+: (\\w*)(?:\\(([\\w\\$\\.\\-\\* ]*)\\))?\\: (.*)$",
          "headerCorrespondence": [
            "tag",
            "scope",
            "message"
          ]
        }
      }
    ],
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint",
        "parserOpts": {
          "headerPattern": "^Pull request #(\\d+): (\\w*)(?:\\(([\\w\\$\\.\\-\\* ]*)\\))?\\: (.*)$",
          "headerCorrespondence": [
            "id",
            "tag",
            "scope",
            "subject"
          ]
        }
      }
    ],
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "gradle.properties"
            ],
            "from": "serviceVersion=.*",
            "to": "serviceVersion=${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}

